<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MySQLConnStr" connectionString="Server=localhost; Database=hotelDB; uid=root; pwd=;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <!--Authentication-->
    <authentication mode="Forms">
      <forms  name=".ASPXAUTH" loginUrl="Login.aspx"/>
    </authentication>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Home.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <location path="RoomBooking.aspx">
    <system.web>
      <authorization>
        <deny users ="?" />
      </authorization>
    </system.web>
  </location>
</configuration>